#turEnergyAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(-50%,-50%);
}
#turEnergyOriginAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
}
#BasicEnergyChangeAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 75%;
    top: 25%;
    transform: translate(-50%,-50%);
}
#EnergyMachineAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 25%;
    top: 65%;
    transform: translate(-50%,-50%);
}
#SolarEnergyAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
}
#ChemicalEnergyAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translate(-50%,-50%);
}
#ElectricEnergyAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 25%;
    top: 105%;
    transform: translate(-50%,-50%);
}
#MechanicalEnergyAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%,-50%);
}
#SimulationCompleteAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 75%;
    top: 105%;
    transform: translate(-50%,-50%);
}
#SimulationStartAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 90%;
    top: 105%;
    transform: translate(-50%,-50%);
}
#increamentalSimulationAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 25%;
    top: 145%;
    transform: translate(-50%,-50%);
}
#SimulationRoomAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 145%;
    transform: translate(-50%,-50%);
}
#SimulationByteAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 75%;
    top: 145%;
    transform: translate(-50%,-50%);
}
#IterationCompleteAuto {
    font-size: 16px;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 25%;
    top: 185%;
    transform: translate(-50%,-50%);
}